<%- include("header") -%>

  <div class="box" id="heading">
    <h1><%= listTitle %></h1>
  </div>

  <div class="box">
    <% for (let i =0; i < newListItems.length  ; i++) { %>
    <div class="item">
      <input type="checkbox">
      <p><%= newListItems[i] %></p>
    </div>
    <% } %>

    <!-- <ul>
    <li>Buy Food</li>
    <li>Cook food</li>
    <li>Eat Food</li>

  </ul> -->
    <form class="item" action="/" method="POST">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
      <button type="submit" name="list" value= <%= listTitle %>>+</button>
    </form>
  </div>

<%- include("footer") -%>



<!-- LI AND UL TAGS WERE REMOVED INSTEAD DIV WAS USED TO DEFINE THE BOXES AND INPUT WAS USED INSTAED OF BULLETPOINTS  -->
